# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
build/
dist/

# system files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# macOS
.AppleDouble
.LSOverride

# local env files
.env
**/.env

# Android
android/

# iOS
ios/

# Misc
*.log
